<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.own.mapper.TrainInfMapper">
  <resultMap id="BaseResultMap" type="com.own.bean.TrainInf">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="emp_id" jdbcType="INTEGER" property="empId" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="job_id" jdbcType="INTEGER" property="jobId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="startdata" jdbcType="VARCHAR" property="startdata" />
    <result column="enddata" jdbcType="VARCHAR" property="enddata" />
    <result column="totallength" jdbcType="INTEGER" property="totallength" />
    <result column="completion" jdbcType="INTEGER" property="completion" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="traintime" jdbcType="TIMESTAMP" property="traintime" />
    <association property="employeeInf" column="emp_id" select="com.own.mapper.EmployeeInfMapper.selectByPrimaryKey"/>
    <association property="deptInf" column="dept_id" select="com.own.mapper.DeptInfMapper.selectByPrimaryKey"/>
    <association property="jobInf" column="job_id" select="com.own.mapper.JobInfMapper.selectByPrimaryKey"/>
    <association property="completionInf" column="completion" select="com.own.mapper.CompletionInfMapper.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, emp_id, dept_id, job_id, content, startdata, enddata, totallength, completion, 
    grade, traintime
  </sql>
  <select id="selectByExample" parameterType="com.own.bean.TrainInfExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from train_inf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from train_inf
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from train_inf
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.own.bean.TrainInfExample">
    delete from train_inf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.own.bean.TrainInf">
    insert into train_inf (id, emp_id, dept_id, 
      job_id, content, startdata, 
      enddata, totallength, completion, 
      grade, traintime)
    values (#{id,jdbcType=INTEGER}, #{empId,jdbcType=INTEGER}, #{deptId,jdbcType=INTEGER}, 
      #{jobId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{startdata,jdbcType=VARCHAR}, 
      #{enddata,jdbcType=VARCHAR}, #{totallength,jdbcType=INTEGER}, #{completion,jdbcType=INTEGER}, 
      #{grade,jdbcType=INTEGER}, #{traintime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.own.bean.TrainInf">
    insert into train_inf
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="empId != null">
        emp_id,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="jobId != null">
        job_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="startdata != null">
        startdata,
      </if>
      <if test="enddata != null">
        enddata,
      </if>
      <if test="totallength != null">
        totallength,
      </if>
      <if test="completion != null">
        completion,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="traintime != null">
        traintime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="empId != null">
        #{empId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="jobId != null">
        #{jobId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="startdata != null">
        #{startdata,jdbcType=VARCHAR},
      </if>
      <if test="enddata != null">
        #{enddata,jdbcType=VARCHAR},
      </if>
      <if test="totallength != null">
        #{totallength,jdbcType=INTEGER},
      </if>
      <if test="completion != null">
        #{completion,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="traintime != null">
        #{traintime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.own.bean.TrainInfExample" resultType="java.lang.Long">
    select count(*) from train_inf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
      select * from train_inf
    </select>
    <update id="updateByExampleSelective" parameterType="map">
    update train_inf
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.empId != null">
        emp_id = #{record.empId,jdbcType=INTEGER},
      </if>
      <if test="record.deptId != null">
        dept_id = #{record.deptId,jdbcType=INTEGER},
      </if>
      <if test="record.jobId != null">
        job_id = #{record.jobId,jdbcType=INTEGER},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.startdata != null">
        startdata = #{record.startdata,jdbcType=VARCHAR},
      </if>
      <if test="record.enddata != null">
        enddata = #{record.enddata,jdbcType=VARCHAR},
      </if>
      <if test="record.totallength != null">
        totallength = #{record.totallength,jdbcType=INTEGER},
      </if>
      <if test="record.completion != null">
        completion = #{record.completion,jdbcType=INTEGER},
      </if>
      <if test="record.grade != null">
        grade = #{record.grade,jdbcType=INTEGER},
      </if>
      <if test="record.traintime != null">
        traintime = #{record.traintime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update train_inf
    set id = #{record.id,jdbcType=INTEGER},
      emp_id = #{record.empId,jdbcType=INTEGER},
      dept_id = #{record.deptId,jdbcType=INTEGER},
      job_id = #{record.jobId,jdbcType=INTEGER},
      content = #{record.content,jdbcType=VARCHAR},
      startdata = #{record.startdata,jdbcType=VARCHAR},
      enddata = #{record.enddata,jdbcType=VARCHAR},
      totallength = #{record.totallength,jdbcType=INTEGER},
      completion = #{record.completion,jdbcType=INTEGER},
      grade = #{record.grade,jdbcType=INTEGER},
      traintime = #{record.traintime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.own.bean.TrainInf">
    update train_inf
    <set>
      <if test="empId != null">
        emp_id = #{empId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        dept_id = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="jobId != null">
        job_id = #{jobId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="startdata != null">
        startdata = #{startdata,jdbcType=VARCHAR},
      </if>
      <if test="enddata != null">
        enddata = #{enddata,jdbcType=VARCHAR},
      </if>
      <if test="totallength != null">
        totallength = #{totallength,jdbcType=INTEGER},
      </if>
      <if test="completion != null">
        completion = #{completion,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="traintime != null">
        traintime = #{traintime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.own.bean.TrainInf">
    update train_inf
    set emp_id = #{empId,jdbcType=INTEGER},
      dept_id = #{deptId,jdbcType=INTEGER},
      job_id = #{jobId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      startdata = #{startdata,jdbcType=VARCHAR},
      enddata = #{enddata,jdbcType=VARCHAR},
      totallength = #{totallength,jdbcType=INTEGER},
      completion = #{completion,jdbcType=INTEGER},
      grade = #{grade,jdbcType=INTEGER},
      traintime = #{traintime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>